.title-kardes {
  margin-bottom: 10px;
  width: 5%;
  background: lightskyblue;
  color: white;
  font-size: 2em;
  padding: 5px 5% 5px 7%;
  border: 1px solid;
}

.tar-kardex {
    padding-left: 150px;
    border-right-width: 100px;
    padding-right: 150px;
}

.blue-col {
  background-color: lightblue;
  border: 1px solid white;
  color: white;
}

.green-col {
  background: palegreen;
  border: 1px solid white;
  color: white;
}

.rose-col {
  background: lightpink;
  border: 1px solid white;
  color: white;
}
.mat-color{
  color: black !important;
}

