//button
.button-lg {
  background-color:darksalmon !important;
	min-width: 130px !important;
	min-height: 50px;
  margin-right: 20px !important;
  margin-top: 20px !important;
}

.button-md {
  background-color:darksalmon !important;
  min-width: 100px !important;
  min-height: 30px;
  margin-right: 20px !important;
  margin-top: 20px !important;
}
